#habilidades-conteudo {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}

#habilidades {
    background-color: #f8f8ff;
    padding-top: 10px;
    padding-bottom: 80px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.card {
    width: 210px;
    background: #fff;
    border-radius: 15px;
    border: 5px solid #fff;
    overflow: hidden;
    color: #191919;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all .2s ease-in-out;
    margin: auto;
    flex-direction: column;
    gap: 48px;
}


.card:hover {
    transform: scale(1.1);
}

.card-cabecalho {
    height: 180px;
    border-radius: 0% 0% 5% 5%;
    display: grid;
    place-items: center;
}

.card-image {
    width: 95px;
}

.card-cabecalho i {
    color: #fff;
    font-size: 72px;
}

.card-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.card-titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #191919;
}

.card-texto {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.card-cabecalho.um {
    background: #ec2024;
}

.card-cabecalho.dois {
    background: #276ea9;
}

.card-cabecalho.tres {
    background: #14342c;
}

.card-cabecalho.quatro {
    background: #314ddc;
}

.card-cabecalho.cinco {
    background: #e44c26;
}

.separador {
    margin-top: -10px;
    position: absolute;
    height: 5px;
    width: 3rem;
    background: #191919;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.separador.contato {
    border: 1.5px solid #fff;
}

.lupa {
    font-size: 15px;
    margin-left: 5px;
}
