#habilidades {
    align-items: center;
    align-content: center;
}

#habilidades-conteudo {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.titulo-habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.card {
    width: 210px;
    background: #fff;
    border-radius: 15px;
    border: 5px solid #fff;
    overflow: hidden;
    color: #191919;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all .2s ease-in-out;
    margin: auto;
}

.card:hover {
    transform: scale(1.1);
}

.card-cabecalho {
    height: 180px;
    background: red;
    border-radius: 0% 0% 10% 10%;
    display: grid;
    place-items: center;

}

.card-cabecalho i {
    color: #fff;
    font-size: 72px;
}

.card-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.card-titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.card-texto {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.card-cabecalho.um {
    background: #f12711;
}

.card-cabecalho.dois {
    background: #0754ed;
}

.card-cabecalho.tres {
    background: #09a929;
}

.card-cabecalho.quatro {
    background: #7504e6;
}

.card-cabecalho.cinco {
    background: #f8b31f;
}

.botao-card {
    border: solid 0px;
    height: 25px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 10px;
    cursor: pointer;
    background-color: #fff;
}