@import url(root.css);

#contato {
    background-color: var(--Beckers-Rock-roll);
    padding-bottom: 1rem;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
}

body {
    background: var(--backgroud);
    background-color: var(--white);
    margin: 0;
}

section {
    width: 100%;
    height: 95vh;
    position: relative;
}

a {
    color: var(--white);
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--Beckers-Rock-roll);
    height: 4.6875rem;
    padding: 1rem;
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.2);
    scroll-behavior: smooth;
}

.logo {
    font-size: 2.5rem;
    padding-left: 1rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    font-size: large;
}

.menu a {
    font-family: "Poppins", sans-serif;
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: color .10s;
}

.menu.inicio {
    color: var(--gold);
}

.menu a:hover {
    color: var(--gold);
}

.label-menu,
.checkbox {
    display: none;
}

.apresentacao-texto {
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translate(-13%, -42%);
}

.apresentacao-texto p:nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #505050;
}

.apresentacao-texto p:nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--Beckers-Rock-roll);
    font-size: 60px;
    padding-top: -5px;
}

.apresentacao-texto p:nth-child(3) {
    font-family: "Poppins", sans-serif;
    color: #403e3e;
    font-size: 28px;
    line-height: 30px;
    margin-top: -10px;
}

.botao.github {
    background-color: var(--white);
    color: var(--Beckers-Rock-roll);
    font-family: "Poppins", sans-serif;
    border: 1px solid var(--Beckers-Rock-roll);
    padding: 13px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s ease-out background-color, 0.2s linear color;
}

.botao.github:hover {
    background-color: var(--Beckers-Rock-roll);
    color: var(--white);
}

.botao.info {
    font-family: "Poppins", sans-serif;
    background-color: var(--Beckers-Rock-roll);
    color: var(--white);
    border: 1px solid var(--Beckers-Rock-roll);
    padding: 13px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s ease-out background-color, 0.2s linear color;
}

.botao.info:hover {
    background-color: var(--white);
    color: var(--Beckers-Rock-roll);
}

.copy {
    color: #565555;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.sobre {
    width: 80%;
    height: 330px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.sobre img {
    height: 200px;
}

.texto-sobre {
    width: 550px;
}

.cotexto-sobre p:nth-child(1) {
    color: #403e3e;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;

}

.texto-sobre p:nth-child(2) {
    color: #3e3e3e;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.texto-sobre p:nth-child(3) {
    color: #7e7d7d;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.btn-cv {
    font-family: "Poppins", sans-serif;
    background-color: var(--Beckers-Rock-roll);
    color: var(--white);
    border: 1px solid var(--Beckers-Rock-roll);
    padding: 8px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
}

.titulo.contato {
    padding-top: 10px;
    color: var(--white);
}

.descricao {
    color: var(--Beckers-Rock-roll);
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.descricao.contato {
    color: var(--white);
}

.separador {
    margin-top: -13px;
    position: absolute;
    height: 4px;
    width: 3rem;
    background: var(--Beckers-Rock-roll);
    transform: translateX(-50%);
    border-radius: 5px;
    left: 50%;
}

.separador.contato {
    background-color: var(--white);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

footer p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #7e7d7d;
    text-align: center;
}

@media only screen and (max-width: 390px) {
    .botao.github {
        padding: 1rem 2rem;
    }

    .botao.info {
        padding: 1rem 2rem;
    }

    .sobre {
        margin-top: 50px;
    }

    .sobre img {
        width: 100px;
    }

}

@media only screen and (max-width: 768px) {

    .menu {
        display: block;
        position: absolute;
        left: 0;
        background: var(--gray);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
        border-radius: 0;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--white);
        padding: 1rem 0;
        cursor: pointer;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.30rem;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.130rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked~.menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .checkbox:checked~.label-menu .hamburger {
        border-top-color: transparent;
    }

    .checkbox:checked~.label-menu .hamburger::before {
        transform: rotate(135deg);
    }

    .checkbox:checked~.label-menu .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    .sobre {
        padding: 0px 5px 70px 5px;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .sobre img {
        border-radius: 10px;
        width: 150px;
    }

    .texto-sobre {
        width: 250px;
    }

    .btn-cv {
        padding: 3px 5px;
        border-radius: 5px;

    }

}