html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Serve para marcar uma seção génerica */
section {
    width: 100%;
    height: 95vh;
    position: relative;
}

/* Nav - é uma tag que reprensenta uma seção que leva para outras páginas*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #191919;
    scroll-behavior: smooth;
}

nav ul li a:hover {
    color: #f3bc5a;
}

nav ul li a.inicio {
    color: #f3bc5a;
}

.logo {
    font-family: Arial;
    color: #191919;
    font-size: 30px;
}

.apresentacao-texto {
    line-height: 0px;
    margin: 45px 0px 25px;
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translate(-13%, -42%);
}


.apresentacao-texto p:nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #505050;
}

.apresentacao-texto p:nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #191919;
    font-size: 60px;
}

.apresentacao-texto p:nth-child(3) {
    font-family: "Poppins", sans-serif;
    color: #403e3e;
    font-size: 28px;
    line-height: 30px;
    margin-top: -10px;
}

.botao.github {
    background-color: #fff;
    color: #191919;
    font-family: "Poppins", sans-serif;
    border: 1px solid #191919;
    padding: 13px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s ease-out background-color, 0.2s linear color;
}

.botao.github:hover {
    background-color: #191919;
    color: #fff;
}

.botao.info {
    font-family: "Poppins", sans-serif;
    background-color: #191919;
    color: #fff;
    border: 1px solid #191919;
    padding: 13px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s ease-out background-color, 0.2s linear color;
}

.botao.info:hover {
    background-color: #fff;
    color: #191919;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}

footer p {
    font-family: calibri;
}

footer p:nth-child(1) {
    font-weight: bold;
    color: #fff;
    line-height: 10px;
    font-size: 30px;
}

footer p:nth-child(2) {
    font-size: 16px;
    color: #7e7d7d;
    width: 500px;
    text-align: center;
}

.copy {
    color: #565555;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}