html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Serve para marcar uma seção génerica */
section {
    width: 100%;
    height: 95vh;
    position: relative;
}

/* Nav - é uma tag que reprensenta uma seção que leva para outras páginas*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #191919;
    scroll-behavior: smooth;
}

nav ul li a:hover {
    color: #f3bc5a;
}

nav ul li a.inicio {
    color: #f3bc5a;
}

.logo {
    color: #191919;
    font-size: 30px;
}

.apresentacao-texto {
    line-height: 0px;
    margin: 45px 0px 25px;
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translate(-13%, -42%);
}


.apresentacao-texto p:nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #505050;
}

.apresentacao-texto p:nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #191919;
    font-size: 60px;
}

.apresentacao-texto p:nth-child(3) {
    font-family: "Poppins", sans-serif;
    color: #403e3e;
    font-size: 28px;
    line-height: 30px;
    margin-top: -10px;
}

.botao.github {
    background-color: #fff;
    color: #191919;
    font-family: "Poppins", sans-serif;
    border: 1px solid #191919;
    padding: 13px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s ease-out background-color, 0.2s linear color;
}

.botao.github:hover {
    background-color: #191919;
    color: #fff;
}

.botao.info {
    font-family: "Poppins", sans-serif;
    background-color: #191919;
    color: #fff;
    border: 1px solid #191919;
    padding: 13px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s ease-out background-color, 0.2s linear color;
}

.botao.info:hover {
    background-color: #fff;
    color: #191919;
}

.copy {
    color: #565555;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.sobre {
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.sobre img {
    height: 200px;
}

.texto-sobre {
    width: 550px;
}

.cotexto-sobre p:nth-child(1) {
    color: #403e3e;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;

}

.texto-sobre p:nth-child(2) {
    color: #3e3e3e;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    line-height: 5px;
}

.texto-sobre p:nth-child(3),
.texto-sobre p:nth-child(4) {
    color: #7e7d7d;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.btn-cv {
    font-family: "Poppins", sans-serif;
    background-color: #191919;
    color: #fff;
    border: 1px solid #191919;
    padding: 8px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

#topo {
    scroll-snap-align: start;
}

.botao-topo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 99;
    display: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#contato{
    background-color: #191919;
}

.titulo-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.contao-separador {
    margin: 0px 47% 0px 47%;
    margin-top: -15px;
    display: flex;
    border: 1.5px solid #23242b;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

footer p {
    font-family: "Poppins", sans-serif;
}


footer p {
    font-size: 16px;
    color: #7e7d7d;
    width: 500px;
    text-align: center;
}